# Dependencies
node_modules
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
coverage

# Next.js
.next/
out/
build
dist

# Env
.env
.env*.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Misc
.DS_Store
*.pem
.vercel
*.tsbuildinfo
next-env.d.ts

# Uploaded prediction screenshots
public/uploads

# Prisma
prisma/*.db
prisma/*.db-journal

# IDE
.idea
.vscode
